body {

font-family: Arial;
background: #0a0a0a;
color: white;
text-align: center;

}

.card {

background: #1a1a1a;
padding: 20px;
margin: 20px auto;
width: 300px;
border-radius: 10px;

}

input {

display: block;
margin: 10px auto;
padding: 10px;
width: 80%;

}

button {

padding: 10px 20px;
background: red;
border: none;
color: white;
cursor: pointer;

}
